.window {
  width: 680px;
  height: 450px;
  position: absolute;
  left: 50%;
  margin-left: -445px;
  top: 55px;

}

.background-img {
  width: 100%;
  z-index: 0;
}

#overlay {
  width: 960px;
  height: 640px;
  position: absolute;
  z-index: 1;
  left: 50%;
  margin-left: -480px;
  top: 20px;
}

#log {
  position: absolute;
  color: white;
  z-index: 2;
  left: 50%;
  margin-left: -160px;
  top: 550px;
  width: 360px;
}

#function {
  position: absolute;
  color: white;
  z-index: 2;
  left: 50%;
  margin-left: -427px;
  top: 523px;
}

  #inventory {
    position: absolute;
    z-index: 2;
    left: 50%;
    margin-left: 258px;
    top: 132px;
    width: 194px;
    height: 500px;
  }

  #backbtn{
    position: fixed;
    left: 70.5%;
    top: 84%;
    width: 85px;
    height: 75px;
    z-index: 5;
  }

/* home page */

.home-container {
  text-align: center;
  margin: 15vh;
  font-family: 'Orbitron';
  letter-spacing: 1.8px;
}

a {
  text-decoration: none;
  display:inline-block;
  font-size: 40px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px 10px 20px;
  color: black;
  border: 3px black solid;
}

a:hover {
  background-color: #7FFF00;
  color: white;
}

.Gitmaster {
font-size: 50px;
}

h1 {
  padding: 0;
  margin: 0;
}

p {
  padding-bottom: 20px;
  font-size: 30px
}

.glow {
border: 3px solid;
border-color: rgba(127, 255, 0, 0.6);
z-index: 8;
background-color: rgba(127, 255, 0, 0.4);
border-radius: 50%;

}
